<div class="btn btn-cart" ng-show="!product.has_variants" ng-click="products.hasStock(product) && cart.addToCart(product.master.id, product.name, 1)" ng-disabled="!products.hasStock(product)" ng-cloak>
  <span ng-class="{'glyphicon-shopping-cart': cart.isAddingElement(product.master.id) == false, 'glyphicon-refresh fa-spin':cart.isAddingElement(product.master.id) == true }" class="glyphicon"></span>
  <span ng-show="product.master.promo_price == null" ng-cloak>{[product.price | currency : '$' : 0 | comma_to_dot]}</span>
  <span ng-show="product.master.promo_price != null" ng-cloak>{[product.master.promo_price | currency : '$' : 0 | comma_to_dot]}</span>
</div>

<a ng-href="/products/{[product.slug]}" class="btn btn-cart" ng-show="product.has_variants" ng-cloak>
  <span ng-class="{'glyphicon-shopping-cart': cart.isAddingElement(product.master.id) == false, 'glyphicon-refresh fa-spin':cart.isAddingElement(product.master.id) == true }" class="glyphicon"></span>
  <span ng-show="product.master.promo_price == null" ng-cloak>{[product.price | currency : '$' : 0 | comma_to_dot]}</span>
  <span ng-show="product.master.promo_price != null" ng-cloak>{[product.master.promo_price | currency : '$' : 0 | comma_to_dot]}</span>
</a>
