<div id ="login-container" ng-hide="sessionModalController.userSignedIn()" ng-cloak>
  <div ng-class="sessionModalController.modal ? 'show' : 'ng-hide'" class="modal transition in" ng-hide="session.userSignedIn()" tabindex="-1" role="dialog" ng-click="sessionModalController.toggle()">
    <div id="form" class="modal-dialog" ng-click="$event.stopPropagation();">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="sessionModalController.toggle()"><span aria-hidden="true">&times;</span></button>
          <h4>{[sessionModalController.submit]}</h4>
        </div>
        <div ng-show="sessionModalController.tab === 0" ng-cloak>
          {% include 'login/sign_in' %}
        </div>
        <div ng-show="sessionModalController.tab === 1" ng-cloak>
          {% include 'login/sign_up' %}
        </div>
        <div ng-show="sessionModalController.tab === 2" ng-cloak>
          {% include 'login/recover' %}
        </div>
      </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal-backdrop fade in ng-hide" ng-show="sessionModalController.modal && !cart.loadingCart()" ng-click="sessionModalController.toggle()" ng-cloak></div>
</div>