<div class="session">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form name="recover" ng-submit="recover.$valid && session.recoverPassword()" ng-disabled="session.loading" novalidate>
        <div class="form-body">

          <div class="form-group">
            <label for="email">
              Email
            </label>
            <input name="email" class="form-control" type="email" ng-model="session.email" ng-disabled="session.loading" required/>
          </div>

        </div>
        <div class="form-footer text-center">
          <button ng-disabled="session.loading" class="btn btn-primary">
            <i class="fa fa-refresh fa-spin" ng-show="session.loading"></i>
            Enviar correo de recuperación
          </button>
          <br>
          <hr>
          <div class="login-options">
            <a href="/login" >Iniciar Sesión</a>
            <a href="/user/spree_user/sign_up">Crear Cuenta</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
