<div id="body-container" >
  <span class="overlay" ng-show="products.loading()">
    <i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
  </span>
  <div class="container" ng-init="setTaxon({{taxon.id}})">
    <div class="row">

      {% include 'widgets/breadcrumbs' %}
      <div id="content">
        {% include 'products' %}
      </div>

    </div>
  </div>
</div>
